body {
  font-family: "Open Sans", sans-serif;
}

.card > .fa {
  color: white;
}

.title-container{
  position: relative;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}



.button {
  background-color: #009688;
  margin-right: 16px;
  border-color: #009688;
}

.container-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.container-buttons {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 48px;
  margin-bottom: 64px;
}

.btn {
  background-color: #009688;
}


